<p id="notice"><%= notice %></p>

<h3><%= @post.full_title %><span class="pull-right"><small><%= link_to 'Edit this entry', edit_post_path(@post), class: 'authenticatable' %></small></span></h3>
<hr class="dotted">

<p class="lead"><%= simple_format @post.content %></p>

<br/>

<div class="row">
  <div class="col-sm-4">
    <small>
      Created by <%= @post.user.username %> on <%= @post.created_at.to_date.strftime("%d/%m/%y") %><br/>
      Last edited by <%= @post.last_editor.username %> on <%= @post.updated_at.to_date.strftime("%d/%m/%y") %><br/>
      <%= pluralize @post.versions.count, 'edit' %> in total.
    </small>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-sm-6">
    <span class="pull-right">This entry is <%= pluralize @post.content_length, 'word' %>. Think you can make it more concise? <%= link_to "Edit it", edit_post_path(@post), class: 'authenticatable' %>.</span>
  </div>
</div>

<br/><br/>
<h4>Other entries in <%= @post.category.title %>:</h4>
<hr/>

<ul>
  <% @post.recent_siblings.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<hr/>
