<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Wiki" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header id="main_navigation">
      <%= render 'layouts/navigation' %>
    </header>

    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <div class="page-header">
        <h1><%= link_to "Nutshell", home_url %><br/><small>A collaborative repository of summaries, definitions and explanations.</small></h1>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>

  <% unless signed_in? %>

    <div id="sign_in_modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Authentication</h4>
          </div>
          <div id="sign_in_form" class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <%= render 'devise/shared/sign_up' %>
              </div>
              <div class="col-md-6">
                <%= render 'devise/shared/sign_in' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/ga' if Rails.env.production? %>

</body>
</html>
